SAE-PROTEO/SAE-PROTEO-ejb/src/wsdl/cereservas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GrabarReservaWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdOficina" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TurnoHora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Serie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroCredencial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaNacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NombrePadre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NombreMadre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoTramite" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PrimerApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SegundoApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PrimerNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SegundoNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PruebaCiudadania" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GrabarReservaWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GrabarReservaWebResult" type="tns:Reserva" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Reserva">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NroReserva" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MsgError" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LugaresDisponibles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdOficina" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LugaresDisponiblesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LugaresDisponiblesResult" type="tns:Lugares" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Lugares">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="listLugaresDisponibles" type="tns:ArrayOfLugDisponibles" />
          <s:element minOccurs="0" maxOccurs="1" name="MsgError" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLugDisponibles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LugDisponibles" nillable="true" type="tns:LugDisponibles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LugDisponibles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Hora" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CantidadDisponibles" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GrabarReservaWebSoapIn">
    <wsdl:part name="parameters" element="tns:GrabarReservaWeb" />
  </wsdl:message>
  <wsdl:message name="GrabarReservaWebSoapOut">
    <wsdl:part name="parameters" element="tns:GrabarReservaWebResponse" />
  </wsdl:message>
  <wsdl:message name="LugaresDisponiblesSoapIn">
    <wsdl:part name="parameters" element="tns:LugaresDisponibles" />
  </wsdl:message>
  <wsdl:message name="LugaresDisponiblesSoapOut">
    <wsdl:part name="parameters" element="tns:LugaresDisponiblesResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GrabarReservaWeb">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Da de Alta la reserva de audiencia en la Agenda.&lt;br /&gt;&lt;br /&gt; PARAMETROS &lt;br /&gt; IdOficina: id de la Oficina .&lt;br /&gt; Fecha: fecha de la reserva Formato dd/mm/yyyy.&lt;br /&gt; TurnoHora: hora de la reserva Formato HH:MM.&lt;br /&gt; 
    Serie: &lt;br /&gt; NumeroCredencial:&lt;br /&gt; FechaNacimiento: El ingreso de este dato es obligatorio&lt;br /&gt;  NombrePadre:&lt;br /&gt;   NombreMadre: &lt;br /&gt; 
    TipoTramite: INS (inscripción), TRA (traslado), REN (renovación), REC (rectificación) &lt;br /&gt;  PrimerApellido: :&lt;br /&gt;  SegundoApellido :&lt;br /&gt; PrimerNombre:&lt;br /&gt;  SegundoNombre:&lt;br /&gt;  PruebaCiudadania:&lt;br /&gt;  Cedula:</wsdl:documentation>
      <wsdl:input message="tns:GrabarReservaWebSoapIn" />
      <wsdl:output message="tns:GrabarReservaWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LugaresDisponibles">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lista la  cantidad de lugares diponibles cada media hora para la Oficina y Fecha dada.</wsdl:documentation>
      <wsdl:input message="tns:LugaresDisponiblesSoapIn" />
      <wsdl:output message="tns:LugaresDisponiblesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GrabarReservaWeb">
      <soap:operation soapAction="http://tempuri.org/GrabarReservaWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LugaresDisponibles">
      <soap:operation soapAction="http://tempuri.org/LugaresDisponibles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GrabarReservaWeb">
      <soap12:operation soapAction="http://tempuri.org/GrabarReservaWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LugaresDisponibles">
      <soap12:operation soapAction="http://tempuri.org/LugaresDisponibles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://reservas.corteelectoral.red.uy/cereservas.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://reservas.corteelectoral.red.uy/cereservas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>