src/SAE-EJB/ejbModule/uy/gub/imm/sae/business/ws/wstramite/WsTramite.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AltaTramite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pTramiteEstandar" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="pUE" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pOrg" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaTramiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AltaTramiteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarTramite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pTramiteEstandar" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="pUE" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pOrg" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarTramiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModificarTramiteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaTramite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pIdTramite" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pUE" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pOrg" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaTramiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BajaTramiteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCategorias">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pUE" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pOrg" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCategoriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCategoriasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerUnidadesEjecutoras">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerUnidadesEjecutorasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerUnidadesEjecutorasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerOrganismos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerOrganismosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerOrganismosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDepartamentos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDepartamentosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDepartamentosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AltaTramiteSoapIn">
    <wsdl:part name="parameters" element="tns:AltaTramite" />
  </wsdl:message>
  <wsdl:message name="AltaTramiteSoapOut">
    <wsdl:part name="parameters" element="tns:AltaTramiteResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarTramiteSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarTramite" />
  </wsdl:message>
  <wsdl:message name="ModificarTramiteSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarTramiteResponse" />
  </wsdl:message>
  <wsdl:message name="BajaTramiteSoapIn">
    <wsdl:part name="parameters" element="tns:BajaTramite" />
  </wsdl:message>
  <wsdl:message name="BajaTramiteSoapOut">
    <wsdl:part name="parameters" element="tns:BajaTramiteResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerCategoriasSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCategorias" />
  </wsdl:message>
  <wsdl:message name="ObtenerCategoriasSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerUnidadesEjecutorasSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerUnidadesEjecutoras" />
  </wsdl:message>
  <wsdl:message name="ObtenerUnidadesEjecutorasSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerUnidadesEjecutorasResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerOrganismosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerOrganismos" />
  </wsdl:message>
  <wsdl:message name="ObtenerOrganismosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerOrganismosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerDepartamentosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDepartamentos" />
  </wsdl:message>
  <wsdl:message name="ObtenerDepartamentosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDepartamentosResponse" />
  </wsdl:message>
  <wsdl:portType name="wsTramiteSoap">
    <wsdl:operation name="AltaTramite">
      <wsdl:input message="tns:AltaTramiteSoapIn" />
      <wsdl:output message="tns:AltaTramiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarTramite">
      <wsdl:input message="tns:ModificarTramiteSoapIn" />
      <wsdl:output message="tns:ModificarTramiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaTramite">
      <wsdl:input message="tns:BajaTramiteSoapIn" />
      <wsdl:output message="tns:BajaTramiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCategorias">
      <wsdl:input message="tns:ObtenerCategoriasSoapIn" />
      <wsdl:output message="tns:ObtenerCategoriasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUnidadesEjecutoras">
      <wsdl:input message="tns:ObtenerUnidadesEjecutorasSoapIn" />
      <wsdl:output message="tns:ObtenerUnidadesEjecutorasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOrganismos">
      <wsdl:input message="tns:ObtenerOrganismosSoapIn" />
      <wsdl:output message="tns:ObtenerOrganismosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDepartamentos">
      <wsdl:input message="tns:ObtenerDepartamentosSoapIn" />
      <wsdl:output message="tns:ObtenerDepartamentosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsTramiteSoap" type="tns:wsTramiteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="AltaTramite">
      <soap:operation soapAction="http://tempuri.org/AltaTramite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarTramite">
      <soap:operation soapAction="http://tempuri.org/ModificarTramite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaTramite">
      <soap:operation soapAction="http://tempuri.org/BajaTramite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCategorias">
      <soap:operation soapAction="http://tempuri.org/ObtenerCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUnidadesEjecutoras">
      <soap:operation soapAction="http://tempuri.org/ObtenerUnidadesEjecutoras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerOrganismos">
      <soap:operation soapAction="http://tempuri.org/ObtenerOrganismos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDepartamentos">
      <soap:operation soapAction="http://tempuri.org/ObtenerDepartamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsTramite">
    <wsdl:port name="wsTramiteSoap" binding="tns:wsTramiteSoap">
      <soap:address location="http://testing1.hg.com.uy/GuiaTramitesEstado/wsTramiteEstandar/wsTramite.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
