SAE-EJB/ejbModule/uy/gub/agesic/itramites/bruto/web/ws/cabezal/CabezalService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.web.bruto.itramites.agesic.gub.uy/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="cabezalService" targetNamespace="http://ws.web.bruto.itramites.agesic.gub.uy/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.web.bruto.itramites.agesic.gub.uy/" elementFormDefault="unqualified" targetNamespace="http://ws.web.bruto.itramites.agesic.gub.uy/" version="1.0">
      <xs:element name="cabezalDTO" type="tns:cabezalDTO"/>
      <xs:element name="persist" type="tns:persist"/>
      <xs:element name="persistResponse" type="tns:persistResponse"/>
      <xs:element name="responseDTO" type="tns:responseDTO"/>
      <xs:complexType name="persist">
        <xs:sequence>
          <xs:element minOccurs="0" name="traza" type="tns:cabezalDTO"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cabezalDTO">
        <xs:sequence>
          <xs:element name="tipoProceso" type="tns:tipoProcesoEnum"/>
          <xs:element name="idProceso" type="xs:long"/>
          <xs:element name="idTransaccion" type="xs:string"/>
          <xs:element name="edicionModelo" type="xs:long"/>
          <xs:element minOccurs="0" name="idTransaccionPadre" type="xs:string"/>
          <xs:element minOccurs="0" name="pasoPadre" type="xs:long"/>
          <xs:element minOccurs="0" name="cantidadPasosProceso" type="xs:long"/>
          <xs:element minOccurs="0" name="inicioAsistidoProceso" type="tns:inicioAsistidoProcesoEnum"/>
          <xs:element minOccurs="0" name="canalDeInicio" type="tns:canalDeInicioEnum"/>
          <xs:element name="fechaHoraOrganismo" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="datoExtra1" type="xs:string"/>
          <xs:element minOccurs="0" name="datoExtra2" type="xs:string"/>
          <xs:element minOccurs="0" name="datoExtra3" type="xs:string"/>
          <xs:element minOccurs="0" name="datoExtra4" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="persistResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:cabezalResponseDTO"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cabezalResponseDTO">
        <xs:complexContent>
          <xs:extension base="tns:responseDTO">
            <xs:sequence>
              <xs:element minOccurs="0" name="guid" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="responseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="estado" type="tns:estadoRespuestaEnum"/>
          <xs:element minOccurs="0" name="mensaje" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="tipoProcesoEnum">
        <xs:restriction base="xs:int">
          <xs:enumeration value="1"/>
          <xs:enumeration value="2"/>
          <xs:enumeration value="3"/>
          <xs:enumeration value="4"/>
          <xs:enumeration value="5"/>
          <xs:enumeration value="6"/>
          <xs:enumeration value="7"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="inicioAsistidoProcesoEnum">
        <xs:restriction base="xs:int">
          <xs:enumeration value="0"/>
          <xs:enumeration value="1"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="canalDeInicioEnum">
        <xs:restriction base="xs:int">
          <xs:enumeration value="1"/>
          <xs:enumeration value="2"/>
          <xs:enumeration value="3"/>
          <xs:enumeration value="4"/>
          <xs:enumeration value="5"/>
          <xs:enumeration value="6"/>
          <xs:enumeration value="7"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="estadoRespuestaEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="OK"/>
          <xs:enumeration value="ERROR"/>
          <xs:enumeration value="EXCEPTION"/>
          <xs:enumeration value="EXCEPTION_MENSAJE"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="persist">
    <wsdl:part element="tns:persist" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="persistResponse">
    <wsdl:part element="tns:persistResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CabezalWS">
    <wsdl:documentation>La numeración de los enumerados está basada en el modelo de trazas definido por Unit</wsdl:documentation>
    <wsdl:operation name="persist">
      <wsdl:input message="tns:persist" name="persist"></wsdl:input>
      <wsdl:output message="tns:persistResponse" name="persistResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="cabezalServiceSoapBinding" type="tns:CabezalWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="persist">
      <soap:operation soapAction="http://testservicios.pge.red.uy/agesic/cabezalService/preprod" style="document"/>
      <wsdl:input name="persist">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="persistResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="cabezalService">
    <wsdl:port binding="tns:cabezalServiceSoapBinding" name="CabezalWSPort">
      <soap:address location="https://testservicios.pge.red.uy:6227/itramites/cabezalService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>