src/MRREE/WSDL/apcancelarsolicitud.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PCancelarSolicitud" targetNamespace="TramitesExterior" xmlns:wsdlns="TramitesExterior" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="TramitesExterior">
	<types>
		<schema targetNamespace="TramitesExterior" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
			<element name="PCancelarSolicitud.Execute">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Solicitudnumero" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="PCancelarSolicitud.ExecuteResponse">
				<complexType>
					<sequence>
						<element name="retval" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="PCancelarSolicitud.ExecuteSoapIn">
		<part name="parameters" element="tns:PCancelarSolicitud.Execute"/>
	</message>
	<message name="PCancelarSolicitud.ExecuteSoapOut">
		<part name="parameters" element="tns:PCancelarSolicitud.ExecuteResponse"/>
	</message>
	<portType name="PCancelarSolicitudSoapPort">
		<operation name="Execute">
			<input message="wsdlns:PCancelarSolicitud.ExecuteSoapIn"/>
			<output message="wsdlns:PCancelarSolicitud.ExecuteSoapOut"/>
		</operation>
	</portType>
	<binding name="PCancelarSolicitudSoapBinding" type="wsdlns:PCancelarSolicitudSoapPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Execute">
			<soap:operation soapAction="TramitesExterioraction/APCANCELARSOLICITUD.Execute"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="PCancelarSolicitud">
		<port name="PCancelarSolicitudSoapPort" binding="wsdlns:PCancelarSolicitudSoapBinding">
			<soap:address location="https://mrree.gub.uy:18443/ciexterior/servlet/apcancelarsolicitud"/>
		</port>
	</service>
</definitions>
