SAE-EJB/ejbModule/uy/gub/imm/sae/business/ws/guiatramites/GuiaTramites.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="obtTramitesMasConsultados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entrada" type="tns:obtTramitesMasConsultados" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="obtTramitesMasConsultados">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="pagina" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="cantidadEltos" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="campoOrden" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="metodoOrden" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="obtTramitesMasConsultadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtTramitesMasConsultadosResult" type="tns:obtTramitesMasConsultadosResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="obtTramitesMasConsultadosResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="totalResultados" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="colTramites" type="tns:ArrayOfResumenTramite" />
          <s:element minOccurs="0" maxOccurs="1" name="advertencias" type="tns:ArrayOfMensaje" />
          <s:element minOccurs="0" maxOccurs="1" name="errores" type="tns:ArrayOfMensaje" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfResumenTramite">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ResumenTramite" nillable="true" type="tns:ResumenTramite" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResumenTramite">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QueEs" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Temas" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Organismo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OnLine" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMensaje">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Mensaje" nillable="true" type="tns:Mensaje" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Mensaje">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodMensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DatoExtra" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="obtTramitesDestacados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entrada" type="tns:obtTramitesDestacados" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="obtTramitesDestacados">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="pagina" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="cantidadEltos" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="campoOrden" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="metodoOrden" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="obtTramitesDestacadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtTramitesDestacadosResult" type="tns:obtTramitesDestacadosResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="obtTramitesDestacadosResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="totalResultados" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="colTramites" type="tns:ArrayOfResumenTramite" />
          <s:element minOccurs="0" maxOccurs="1" name="advertencias" type="tns:ArrayOfMensaje" />
          <s:element minOccurs="0" maxOccurs="1" name="errores" type="tns:ArrayOfMensaje" />
        </s:sequence>
      </s:complexType>
      <s:element name="obtTramitesEnOrdenAlfabetico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entrada" type="tns:obtTramitesEnOrdenAlfabetico" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="obtTramitesEnOrdenAlfabetico">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="letra" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="pagina" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="cantidadEltos" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="campoOrden" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="metodoOrden" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="obtTramitesEnOrdenAlfabeticoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtTramitesEnOrdenAlfabeticoResult" type="tns:obtTramitesEnOrdenAlfabeticoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="obtTramitesEnOrdenAlfabeticoResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="totalResultados" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="colTramites" type="tns:ArrayOfResumenTramite" />
          <s:element minOccurs="0" maxOccurs="1" name="advertencias" type="tns:ArrayOfMensaje" />
          <s:element minOccurs="0" maxOccurs="1" name="errores" type="tns:ArrayOfMensaje" />
          <s:element minOccurs="0" maxOccurs="1" name="letrasDeshabilitadas" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="obtTramitesPorOrgEnOrdenAlfabetico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entrada" type="tns:obtTramitesPorOrgEnOrdenAlfabetico" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="obtTramitesPorOrgEnOrdenAlfabetico">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="letra" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="pagina" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="cantidadEltos" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="campoOrden" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="metodoOrden" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="idOrg" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idUE" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="obtTramitesPorOrgEnOrdenAlfabeticoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtTramitesPorOrgEnOrdenAlfabeticoResult" type="tns:obtTramitesEnOrdenAlfabeticoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtTramitePorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entrada" type="tns:obtTramitesPorId" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="obtTramitesPorId">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="obtTramitePorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtTramitePorIdResult" type="tns:obtTramitesPorIdResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="obtTramitesPorIdResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="datosTramite" type="tns:TramiteCompleto" />
          <s:element minOccurs="0" maxOccurs="1" name="advertencias" type="tns:ArrayOfMensaje" />
          <s:element minOccurs="0" maxOccurs="1" name="errores" type="tns:ArrayOfMensaje" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TramiteCompleto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QueEs" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DondeCuando" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Necesita" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Costos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Solicitud" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OtrosDatos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Enlaces" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Organismo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailOrganismo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaAct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaProxAct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Temas" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MetaTags" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adjuntos" type="tns:ArrayOfVinculoDatos" />
          <s:element minOccurs="0" maxOccurs="1" name="OfNacionales" type="tns:ArrayOfOfNacionalDatos" />
          <s:element minOccurs="0" maxOccurs="1" name="OfExteriores" type="tns:ArrayOfOfExteriorDatos" />
          <s:element minOccurs="0" maxOccurs="1" name="Normativas" type="tns:ArrayOfNormativaDatos" />
          <s:element minOccurs="0" maxOccurs="1" name="ComoSeHace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Vinculos" type="tns:ArrayOfVinculoDatos" />
          <s:element minOccurs="0" maxOccurs="1" name="DependeDe" type="tns:OrganismoArea" />
          <s:element minOccurs="0" maxOccurs="1" name="AccesoOnLine" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVinculoDatos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VinculoDatos" nillable="true" type="tns:VinculoDatos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VinculoDatos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NombreLink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOfNacionalDatos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OfNacionalDatos" nillable="true" type="tns:OfNacionalDatos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OfNacionalDatos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Localidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Horario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefonos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comentarios" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOfExteriorDatos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OfExteriorDatos" nillable="true" type="tns:OfExteriorDatos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OfExteriorDatos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ciudad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Horario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefonos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comentarios" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfNormativaDatos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NormativaDatos" nillable="true" type="tns:NormativaDatos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NormativaDatos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrganismoArea">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Organismo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Area" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="obtTramitePorIdSinContarVisita">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entrada" type="tns:obtTramitesPorId" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtTramitePorIdSinContarVisitaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtTramitePorIdSinContarVisitaResult" type="tns:obtTramitesPorIdResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtArbolTemas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entrada" type="tns:obtArbolTemas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="obtArbolTemas">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="obtArbolTemasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtArbolTemasResult" type="tns:obtArbolTemasResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="obtArbolTemasResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="colTemas" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="advertencias" type="tns:ArrayOfMensaje" />
          <s:element minOccurs="0" maxOccurs="1" name="errores" type="tns:ArrayOfMensaje" />
        </s:sequence>
      </s:complexType>
      <s:element name="obtStatusPorIdTramite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pIdTramite" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtStatusPorIdTramiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtStatusPorIdTramiteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="obtTramitesMasConsultadosSoapIn">
    <wsdl:part name="parameters" element="tns:obtTramitesMasConsultados" />
  </wsdl:message>
  <wsdl:message name="obtTramitesMasConsultadosSoapOut">
    <wsdl:part name="parameters" element="tns:obtTramitesMasConsultadosResponse" />
  </wsdl:message>
  <wsdl:message name="obtTramitesDestacadosSoapIn">
    <wsdl:part name="parameters" element="tns:obtTramitesDestacados" />
  </wsdl:message>
  <wsdl:message name="obtTramitesDestacadosSoapOut">
    <wsdl:part name="parameters" element="tns:obtTramitesDestacadosResponse" />
  </wsdl:message>
  <wsdl:message name="obtTramitesEnOrdenAlfabeticoSoapIn">
    <wsdl:part name="parameters" element="tns:obtTramitesEnOrdenAlfabetico" />
  </wsdl:message>
  <wsdl:message name="obtTramitesEnOrdenAlfabeticoSoapOut">
    <wsdl:part name="parameters" element="tns:obtTramitesEnOrdenAlfabeticoResponse" />
  </wsdl:message>
  <wsdl:message name="obtTramitesPorOrgEnOrdenAlfabeticoSoapIn">
    <wsdl:part name="parameters" element="tns:obtTramitesPorOrgEnOrdenAlfabetico" />
  </wsdl:message>
  <wsdl:message name="obtTramitesPorOrgEnOrdenAlfabeticoSoapOut">
    <wsdl:part name="parameters" element="tns:obtTramitesPorOrgEnOrdenAlfabeticoResponse" />
  </wsdl:message>
  <wsdl:message name="obtTramitePorIdSoapIn">
    <wsdl:part name="parameters" element="tns:obtTramitePorId" />
  </wsdl:message>
  <wsdl:message name="obtTramitePorIdSoapOut">
    <wsdl:part name="parameters" element="tns:obtTramitePorIdResponse" />
  </wsdl:message>
  <wsdl:message name="obtTramitePorIdSinContarVisitaSoapIn">
    <wsdl:part name="parameters" element="tns:obtTramitePorIdSinContarVisita" />
  </wsdl:message>
  <wsdl:message name="obtTramitePorIdSinContarVisitaSoapOut">
    <wsdl:part name="parameters" element="tns:obtTramitePorIdSinContarVisitaResponse" />
  </wsdl:message>
  <wsdl:message name="obtArbolTemasSoapIn">
    <wsdl:part name="parameters" element="tns:obtArbolTemas" />
  </wsdl:message>
  <wsdl:message name="obtArbolTemasSoapOut">
    <wsdl:part name="parameters" element="tns:obtArbolTemasResponse" />
  </wsdl:message>
  <wsdl:message name="obtStatusPorIdTramiteSoapIn">
    <wsdl:part name="parameters" element="tns:obtStatusPorIdTramite" />
  </wsdl:message>
  <wsdl:message name="obtStatusPorIdTramiteSoapOut">
    <wsdl:part name="parameters" element="tns:obtStatusPorIdTramiteResponse" />
  </wsdl:message>
  <wsdl:portType name="GuiaTramitesSoap">
    <wsdl:operation name="obtTramitesMasConsultados">
      <wsdl:input message="tns:obtTramitesMasConsultadosSoapIn" />
      <wsdl:output message="tns:obtTramitesMasConsultadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtTramitesDestacados">
      <wsdl:input message="tns:obtTramitesDestacadosSoapIn" />
      <wsdl:output message="tns:obtTramitesDestacadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtTramitesEnOrdenAlfabetico">
      <wsdl:input message="tns:obtTramitesEnOrdenAlfabeticoSoapIn" />
      <wsdl:output message="tns:obtTramitesEnOrdenAlfabeticoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtTramitesPorOrgEnOrdenAlfabetico">
      <wsdl:input message="tns:obtTramitesPorOrgEnOrdenAlfabeticoSoapIn" />
      <wsdl:output message="tns:obtTramitesPorOrgEnOrdenAlfabeticoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtTramitePorId">
      <wsdl:input message="tns:obtTramitePorIdSoapIn" />
      <wsdl:output message="tns:obtTramitePorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtTramitePorIdSinContarVisita">
      <wsdl:input message="tns:obtTramitePorIdSinContarVisitaSoapIn" />
      <wsdl:output message="tns:obtTramitePorIdSinContarVisitaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtArbolTemas">
      <wsdl:input message="tns:obtArbolTemasSoapIn" />
      <wsdl:output message="tns:obtArbolTemasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtStatusPorIdTramite">
      <wsdl:input message="tns:obtStatusPorIdTramiteSoapIn" />
      <wsdl:output message="tns:obtStatusPorIdTramiteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GuiaTramitesSoap" type="tns:GuiaTramitesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="obtTramitesMasConsultados">
      <soap:operation soapAction="http://tempuri.org/obtTramitesMasConsultados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtTramitesDestacados">
      <soap:operation soapAction="http://tempuri.org/obtTramitesDestacados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtTramitesEnOrdenAlfabetico">
      <soap:operation soapAction="http://tempuri.org/obtTramitesEnOrdenAlfabetico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtTramitesPorOrgEnOrdenAlfabetico">
      <soap:operation soapAction="http://tempuri.org/obtTramitesPorOrgEnOrdenAlfabetico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtTramitePorId">
      <soap:operation soapAction="http://tempuri.org/obtTramitePorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtTramitePorIdSinContarVisita">
      <soap:operation soapAction="http://tempuri.org/obtTramitePorIdSinContarVisita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtArbolTemas">
      <soap:operation soapAction="http://tempuri.org/obtArbolTemas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtStatusPorIdTramite">
      <soap:operation soapAction="http://tempuri.org/obtStatusPorIdTramite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GuiaTramites">
    <wsdl:port name="GuiaTramitesSoap" binding="tns:GuiaTramitesSoap">
      <soap:address location="http://testing1.hg.com.uy/GuiaTramitesEstado/GuiaTramites/GuiaTramites.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
